<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Image Uploader</title>
</head>
<style>
  .vid {
    width: 100%;
    height: 100%;
  }
</style>
<body>

<div>
  <a href="/"><img src="../../assets/home.png" width="25" height="25"></a>
</div>
<div class="container-fluid">
<!--  <h5>Please select an item</h5>-->
  <form>
    <div class="card">
      <div class="card-header">
        ITEMS REQUESTED. SELECT ONE
      </div>
      <div class="card-body">
        <div *ngFor="let item of items; let i = index;">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': selectedItem == item}"
              (click)="onClick(item, $event)">{{item.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        TAKE A PICTURE
      </div>
      <div class="card-body">
        <div #media id="app">
          <div><img #img [hidden]="hideImgElement" id="img1" width="100%"></div>
  <!--      <div><canvas #canvas id="canvas" class="vid" width="100%" height="100%"></canvas></div>-->
          <input id="file" type="file" accept="image/*" (change)="onFileSelected($event)">
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="card">
      <div class="card-header">
        OTHER INFORMATION
      </div>
      <div class="card-body">
        <div class="form-group">
          <input class="form-control" id="store" name="store" placeholder="Store" [(ngModel)]="store" #name1="ngModel">
        </div>
        <div class="form-group">
          <input class="form-control" id="name" name="name" placeholder="Your Name (optional)" [(ngModel)]="name" #name1="ngModel">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="notes" name="notes" rows="3" placeholder="Additional info (optional)" [(ngModel)]="notes"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<br/>
<div class="form-group">
  <input type="button" class="btn btn-primary btn-lg btn-block" value="Submit" (click)="onSubmit()" />
</div>
</body>
<script src="../common/imageProcessor.js"></script>
</html>
