<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <title>Image Uploader</title>
</head>
<style>
  .vid {
    width: 100%;
    height: 100%;
  }
</style>
<body>
  <div class="d-flex flex-wrap screen-container">
    <div class="header_info bg-white sticky-top w-100 py-2">
      <div class="container-fluid">
        <a href="/" class="btn border-0 btn-back btn-link p-0"><img src="../../assets/back.svg" alt="icon" /></a>
        <span class="ml-3">Back</span>
      </div>
    </div>

    <div class="product-list-area pt-3 w-100">
      <div class="container-fluid">
        <div class="product-list-info mb-2 d-flex justify-content-between">
          <span>Please select an item you found</span>
        </div>
        <ul class="list-unstyled product-list mb-0">
          <div *ngFor="let item of items; let i = index;">
            <li class="product-list-item py-2 d-flex align-items-center">
              <div class="pli-info flex-grow-1 px-2">
                <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': selectedItem == item}"
                        (click)="onClick(item, $event)">{{item.name}}</button>
              </div>
            </li>
          </div>
        </ul>
        <hr/>
        <div #media id="app">
          <div><img #img [hidden]="hideImgElement" id="img1" width="100%"></div>
          <input id="file" type="file" accept="image/*" (change)="onFileSelected($event)">
        </div>
        <hr/>
      </div>
    </div>
    <br/>
    <div class="information-area mt-auto w-100 py-3">
      <div class="container-fluid">
        <div class="information-heading mb-2">
          <h4>Your information</h4>
        </div>

        <form action="/">
          <div class="form-group">
            <input class="form-control" id="store" name="store" placeholder="Store" [(ngModel)]="store" #name1="ngModel">
          </div>
          <div class="form-group">
            <input class="form-control" id="name" name="name" placeholder="Your Name (optional)" [(ngModel)]="name" #name1="ngModel">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="notes" name="notes" rows="3" placeholder="Additional info (optional)" [(ngModel)]="notes"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()">submit</button>
        </form>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</body>
<script src="../common/imageProcessor.js"></script>
</html>
