<html>
  <head>
    <title>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
</html>

<div class="container-fluid">
  <h5>Please select an item</h5>
  <div *ngFor="let item of items; let i = index;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" (change)="onChange(item, $event)">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check{{i}}"  />
          <label class="custom-control-label" for="check{{i}}">{{item.Name}}</label>
          <label class="invisible">{{item.ItemId}}</label>
        </div>
        <hr/>
      </li>
    </ul>
  </div>

  <div>
      <h5>Add an item if you don't see one in the above list</h5>
      <div class="form-group">
        <input class="form-control" id="newName" name="newName" placeholder="Item Name" [(ngModel)]="newName">
      </div>
      <div class="form-group">
        <input class="form-control" id="newBrand" name="newBrand" placeholder="Item Brand" [(ngModel)]="newBrand">
      </div>
      <a style="font-size:24px" (click)="addNewItem()"><i class="fa fa-plus-square" style="font-size:24px;color:green"></i></a>
  </div>

  <br/>
  <div>
    <h5>Your information</h5>
    <form>
      <div class="form-group">
        <input class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="name" #name1="ngModel">
      </div>
      <br/>
      <div class="form-group">
        <input class="form-control" id="phone" name="phone" placeholder="Phone Number" [(ngModel)]="phone" #phone1="ngModel">
      </div>
      <div class="form-group">
        <input type="button" class="btn btn-primary btn-lg btn-block" value="Submit" (click)="onSubmit()" />
      </div>
    </form>
  </div>
</div>
