<html>
  <head>
    <title>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
</html>

<div>
  <a href="/"><img src="../../assets/home.png" width="25" height="25"></a>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4>PLEASE SELECT AN ITEM</h4>
    </div>
    <div class="card-body">
      <div *ngFor="let item of items; let i = index;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" (change)="onChange(item, $event)">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check{{i}}"  />
              <label class="custom-control-label" for="check{{i}}">{{item.name}}</label>
              <label class="invisible">{{item.itemId}}</label>
            </div>
            <hr/>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
        <h4>ADD A NEW ITEM</h4> (if you don't see one above)
      </div>
      <div class="card-body">
        <div class="form-group">
          <input class="form-control" id="newName" name="newName" placeholder="Item Name" [(ngModel)]="newName">
        </div>
        <div class="form-group">
          <input class="form-control" id="newBrand" name="newBrand" placeholder="Item Brand" [(ngModel)]="newBrand">
        </div>
        <a (click)="addNewItem()"><i class="fa fa-plus-square" style="font-size:24px;color:green"></i></a>
      </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header">
      <h4>YOUR INFORMATION</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="name" #name1="ngModel">
        </div>
        <div class="form-group">
          <input class="form-control" id="phone" pattern="[0-9]*" inputmode="numeric" name="phone" placeholder="Phone Number" [(ngModel)]="phone" #phone1="ngModel">
        </div>
        <div class="form-group">
          <input [disabled]="name=='' || phone=='' || itemsNeeded.length==0" type="button" class="btn btn-primary btn-lg btn-block" value="Submit" (click)="onSubmit()" />
        </div>
      </form>
    </div>
  </div>
</div>
