<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TwilioHackCoronavirus</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<style type="text/css">
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
</style>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">
        <a href="/"><img src="../../assets/home.png" width="35" height="35"></a>
      </div>
      <div class="col-sm-5">
        <h3 style="color: green">GroceryAssist</h3>
        <h5>Help someone find groceries</h5>
      </div>
    </div>
    <br>
    <div class="text-center">
<!--      <a href="../search" class="btn btn-primary btn-block">Have you seen this?</a>-->
      <a href="../search"><img src="../../assets/empty_shelves.png" width="100%" height="100%"></a>
    </div>
    <div class="text-center">
      <h5 class="align-content-center">Shopping List</h5>
      <p>If you need an item</p>
    </div>
    <br>
    <div class="text-center">
<!--      <a href="../image" class="btn btn-primary btn-block">Found em!</a>-->
      <a href="../image"><img src="../../assets/full_shelves.jpg" width="100%" height="100%"></a>
    </div>
    <div class="text-center">
      <h5 class="align-content-center">At the Store</h5>
      <p>Help others if you see an item</p>
    </div>
  </div>

</body>
</html>

