<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TwilioHackCoronavirus</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<style type="text/css">
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
</style>

<body>
  <div class="container-fluid">
    <div class="row center">
      <h1>Select one</h1>
    </div>
    <div class="row center">
      <a href="../search" class="btn btn-primary btn-block">Need an Item</a>
    </div>
    <br/>
    <div class="row center">
      <a href="../found" class="btn btn-primary btn-block">Found an Item</a>
    </div>
  </div>

</body>
</html>

