<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TwilioHackCoronavirus</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<style type="text/css">
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
</style>

<body>
  <div class="container-fluid">
<!--    <div class="row center">-->
<!--      <h1>Select one</h1>-->
<!--    </div>-->
    <div class="row center">
<!--      <a href="../search" class="btn btn-primary btn-block">Have you seen this?</a>-->
      <a href="../search"><img src="../../assets/grocery_list.png" width="240" height="320"></a>
    </div>
    <div class="row center align-content-md-center">
      <h4>Look for Grocery Item</h4>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row center">
<!--      <a href="../image" class="btn btn-primary btn-block">Found em!</a>-->
      <a href="../image"><img src="../../assets/grocery_shelf.png" width="240" height="320"></a>
    </div>
    <div class="row center">
      <h4>Tell Others Your Find</h4>
    </div>
  </div>

</body>
</html>

